 .u-section-1 {
  background-image: none;
  min-height: 1346px;
}

.u-section-1 .u-text-1 {
  width: 142px;
  margin: 11px auto 0;
}

.u-section-1 .u-table-1 {
  width: 827px;
  margin: 11px auto 56px;
}

.u-block-bb83-10 {
  height: 46px;
}

.u-section-1 .u-table-body-1 {
  font-weight: 400;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 16px;
  height: 22px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-block-bb83-31 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}