.u-section-1 .u-sheet-1 {
  min-height: 1339px;
}

.u-section-1 .u-text-1 {
  width: 169px;
  margin: 11px auto 0;
}

.u-section-1 .u-table-1 {
  width: 827px;
  height: 1237px;
  margin: 11px auto 24px;
}

.u-block-4e0d-10 {
  height: 46px;
}

.u-section-1 .u-table-body-1 {
  font-weight: 400;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-block-4e0d-72 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}